*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
 display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
}
.bell{
    width:20px;
   height:20px;
   margin-right: 20px;
}
.magnify{
    margin-left: 30px;
    margin-right:10px;
    width:20px;
    height:20px;
}
.profiles{
    width:40px;
    height:40px; 
}

#header{
    display: grid;
    grid-column: 2/3;
    grid-row: span 1;
    background-color: white;
   grid-gap:10px;
   display: flex;
    padding-top: 10px;
    flex-direction: column;
    box-shadow: -1px 4px 5px 0px rgba(198,202,217,0.75);
    
}
.upper-div{
display: flex;
align-items: center;
}
.upper-div h3{
    font-weight: 500;
    font-size: medium;
    position: relative;
    right:6px;
}
.lower-div{
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.searchbar{
    background-color: rgba(160, 157, 157, 0.301);
    width:70vh;
    height:3vh;
    border-radius: 20px;
    margin-right: 200px;
}

#sidebar{
    grid-row: 1/-1;
    background-color: #0ea5e9;
    color: white;
    border: 1px solid white;
   display: grid;
   grid-template-rows: 1fr 2fr;
   text-align: left;
}
.text{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.text img{
    margin: 18px;
}
.text h3{
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin:20px;
   position: relative;
   right:20px;
}
#sidebar img{
position: relative;
}
#main{
    grid-column: 2/3;
}
.small-profile{
    width:40px;
    height:40px;
    margin-right: 30px;
}
.larger-profile{
    width:55px;
    height:55px;
    margin-left: 15px;
}
.nav{
    background-color: #0ea5e9;
    color: white;
    text-align: center;
    width:95px;
    height:30px;
    border: none;
    border-radius: 15px;
}
.nav-buttons{
    position: relative;
    left:275px;
}
.tagline{
position: relative;
left:50px;
}
.tagline h4{
    font-size: 15px;
    font-weight: bolder;
}
.dashboard-text{
    position: relative;
    top:28px;
    text-align: left;
    font-size: 19px;
}
.dash-img{
    position: relative;
    right:3px;
}
.spaced{
    padding-bottom:40px ;
}
#main{
    background-color: rgba(160, 157, 157, 0.301);
}
.card{
 height:200px;
background-color: white;
border-left: 7px solid rgba(250, 172, 29, 0.863);
border-radius: 5px;
padding:25px;
font-size: 15px;
}
.bigger-card{
   height: 360px;
    background-color: white;
    width:300px;
    padding: 16px;
    border-radius: 5px;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    padding: 2px 10px 0px 10px;
    margin-top: 10px;
    font-weight:lighter;
    font-size: 13px;
}
.second{
    margin-right: 180px;
}
.grid-section{
   display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:10px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:20px;
    padding:8px
}
.card-imgs{
    position:relative;
    top:30px;
    left:135px;
}
.card-imgs img{
    margin: 3px;
}
.big-cards{
    padding:10px;
}
.title{
    font-size: 18px;
    font-weight: bold;
}
.bigger-card h2{
    font-size: 16px;
}
.bigger-card p{
    font-size: 14px;
}
.line{
    height:1px;
    border-width:0;
    background-color: rgba(160, 157, 157, 0.301);
    width:90%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.trending{
    padding: 10px;
}
#last-card{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.images{
   padding: 20px; 
}
.images img{
margin-bottom: 10px;
}
.user-names{
    font-size: 20px;
    margin-top: 15px;
   color: black;
}
.user-names p{
    color:grey;
}
.name-pair{
    padding: 10px;
}